:root{
  --pink:#e84393;
  }

header{
  margin: 0; padding: 0;
  box-sizing: border-box;
  font-family: verdana, Geneva, Tahoma, sans-serif;
  outline: none; border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .5s linear;

}
html{
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top:6em;
  overflow-x: hidden;
}

section{
  padding: 2rem 9%;

}

.btn{
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  background: #333;
  color: #fff;
  padding: .9rem 3.5rem;
  cursor: pointer;
  font-size: 1.7rem;
}
.btn:hover{
  background: var(--pink);
}
header{
  position: fixed;
  top: 0; left: 0; right: 0;
  background: #fff;
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 1);
}

header  .logo{
  font-size: 3rem;
  color: #333;
  font-weight: bolder;
}
header  .logo span{
  color:var(--pink);

}
header .navbar a{
  font-size: 2rem;
  padding: 0 1.5rem;
  color: #666;

}
header .navbar a:hover{
  color: var(--pink);

}
header .icons a{
  font-size: 2.5rem;
  color: #333;
  margin-left: 1.5rem;

}
header .icons a:hover{
  color: var(--pink);
  
}
header #toggler{
  display: none;
}
header .fa-bars{
  font-size: 3rem;
  color: #333;
  border-radius: .5rem;
  padding: .5rem 1.5rem;
  cursor: pointer;border: .1rem solid rgba(0, 0, 0, 3);
  display: none;

}
body {
  font-family: verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 8rem;
  background: pink
}

h1{
  background-color:hotpink;
  color: #fff;
  padding: 10px;
  text-align: center;
}

main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.cart-items {
  flex: 1;
  border: 1px solid black;
  padding: 10px;
}

.cart-items h2 {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.cart-total {
  text-align: right;
  margin-top: 20px;
  font-size: 1.5rem;
  text-align: end;
}

.products {
  flex: 1;
  border: 1px solid black;
  padding: 10px;
}

.products h2 {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.product-list {
  list-style: none;
  padding: 0;
  font-size: 1.5rem;
}

.product-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.product-item button {
  background-color: var(--pink);
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

#total-price {
  font-weight: bold;
}
footer {
  background-color: #e84393;
  color: #fff;
  text-align: center;
  padding: 20px;
}

footer p {
  font-size: 14px;
}

